@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}               


.header{
    width: 100%;
    background-color: #ffffff;
}
.header-content{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    min-height: 60px;
    padding: 0 20px;
}
.logo{
    width: 100px;
    height: 100px;
    display: inline-block;
    padding-top: 30px;
}
.img_logo{
    width: 100%;
    height: auto;
}
.nav_list{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 60px;
    align-items: center;
}
.nav_item{
position: relative;

}
.nav_link{
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: all .3s;    
}
.nav_link:hover, .nav_link:focus, .nav_link:hover:after{
    color: #558ef7;
    opacity: 1;
     
}
.btn{
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: #558ef7;
    padding: 8px 20px;
    border-radius: 16px;
    text-transform: uppercase;
    transition: all .3s;    

}
.btn:hover{
    background-color: #4c57f1;
    color: #ffffff;
}
.main_article{
    margin-top: 15%;
    margin-left: 5%;
    height: 250px;
    width: 60%;
    background-color: #4c57f1;
    color: white;
    font-family: Roboto;
    border-radius: 32px;
    padding-left: 20px;

}
.header1{
    font-size: 52px;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    list-style-type: none;
}
.text{
    display: flex;
    justify-content: stretch;
    font-size: 20px;
    line-height: 24px;
    list-style-type: disc;
    margin-left: 2%;
}
.u_text{
    margin-left: 15%;
    list-style-type:circle;
    line-height: 24px;
    padding-top: 16px;
}
.atc_2{
    margin-top: 10%;
    background-color: #4c57f1;
    width: 75%;
    display: flex;
    justify-self: flex-end;
    border-radius: 32px;

}

/* https://nicepage.com/ht/6542985/data-protection-and-privacy-policy-html-template*\