*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    background-color: #ffffff;
    height: 150px;
}
.header_content{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 20px;
}
.logo{
    width: 0px;
    height: 0px;
    display: inline-block;
}
.img_logo{
    width: 100%;
    height: auto;
}

.nav_list{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 45px;
    align-items: center;
}
.nav_item{
    position: relative;

}
.nav_link{
    font-size: 16px;
    font-family: Roboto;
    text-decoration: none;
    line-height: 16px;
    color: #000000 ;
    font-weight: 600;
    transition: all .3;
}
.nav_link:hover{
    color: #4e4edd;
}
.btn{


}

/*https://nicepage.com/ht/6542985/data-protection-and-privacy-policy-html-template*/