
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*  reset   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}               

/*    header   */
.header{
    width: 100%;
    background-color: #000000;
}
.header-content{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    min-height: 60px;
    padding: 0 20px;
}
.logo{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.img_logo{
    width: 100%;
    height: auto;
}
/*   navigation   */
/*.nav{

}*/
.nav_list{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.nav_item{
position: relative;

}
.nav_link{
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: all .3s;    
}
.nav_link:hover, .nav_link:focus, .nav_link:hover:after{
    color: #ff7900;
    opacity: 1;
     
}

.nav_link::after{
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ff7900;
    opacity: 0;
    transition: all .3s;

}


.btn{
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: #ff7900;
    padding: 8px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: all .3s;    

}
.btn:hover{
    background-color: #ffffff;
    color: #ff7900;
}