<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stranka</title>
    <link rel="stylesheet" href="css/style_about_us.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="#" class="logo">
                <img src="pictures/logo-blue.png" alt="logo" class="img_logo">
            </a>
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="index.html" class="nav_link">Home</a></li>
                <li class="nav_item"><a href="" class="nav_link">About Us</a></li>
                <li class="nav_item"><a href="contact_us.html" class="nav_link">Contact Us</a></li>
                <li class="nav_item"><a href="" class="btn">Start a Project</a></li>
            </ul>
        </nav> 
        </div>
    </header>
<main>
    <article class="main_article">
        <div class="inner_ac">
            <h1 class="header1">Who are we?</h1>
            <p class="text">We are a company that provides:</p>
            <ul class="list">
                <li>Privacy awareness</li>
                <li>Online safety education</li>
                <li>Data protection tips</li>
            </ul>
        </div>
    </article>

    <article class="atc_2">
        <div class="inner_ac">
            <p class="text2">Our mission is to:</p>
            <ul class="list2">
                <li>Educate users about online privacy threats</li>
                <li>Help people protect their personal data</li>
                <li>Promote safe internet practises</li>
            </ul>
        </div>
    </article>

        <article class="atc_3">
        <div class="inner_ac">
            <p class="text3">What we do:</p>
            <ul class="list3">
                <li>Guides on online safety</li>
                <li>Tips to protect personal information</li>
                <li>Awareness about scams, phishing, and tracking</li>
            </ul>
        </div>
    </article>
</main>

<footer>
    <div class="footer_content"></div>
        <section class="odstavec_1">    
            <a href="#" class="logo_white">
            <img src="pictures/logo-white.png" alt="" width="100px" height="auto">
            </a>
            <div class="footer_text">We blend the flexibility and <br> personalized approach of a freelancer <br>with the teamwork, expertise, and <br>reliability of an experienced agency.</div>
            <form action="formular" method="post">
            <input type="text" name="email" id="email_2" class="email_2" placeholder="Enter a valid email address">
            <br>
            <input type="submit" name="btn" class="btn3">
            </form>
        </section>
        <section class="odstavec_2">
            <div class="odstavec_2_text">Quick Links</div>
            <a href="#" class="odstavec_2_odkaz">About Us</a>
            <br>
            <a href="#" class="odstavec_2_odkaz">Consultation</a>
            <br>
            <a href="#" class="odstavec_2_odkaz">Our Blog</a>
            <br>
            <a href="#" class="odstavec_2_odkaz">Case studies</a>
        </section>
        <section class="odstavec_3">
            <div class="odstavec_3_text">Services</div>
            <a href="#" class="odstavec_3_odkaz">Digital Design</a>
            <br>
            <a href="#" class="odstavec_3_odkaz">Marketing</a>
            <br>
            <a href="#" class="odstavec_3_odkaz">Product Design</a>
            <br>
            <a href="#" class="odstavec_3_odkaz">Development</a>
        </section>
        <section class="odstavec_4">
            <div style=" font-size: 24px;">Contact Us</div>
            <div style="font-size: 12px; padding-bottom: 15px; padding-top: 15px;">Please get in touch with one <br> of our Project Consultants</div>
            <a href="#" style="text-decoration: none; color: white;">hi@design.studio.com</a>
        </section>
    
    
    
    </div> 
</footer>

</body>
</html>